.titre{
    color: cadetblue;
    display: flex;
  text-align: center;
  flex-direction: column;
}
.ligne{
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 80%;
  color: black;
}
.ligne1{
  
  font-size: 80%;
}